@using System.Globalization

@model Passion_Project.Models.AnimeDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this anime?</h2>
<a href="/Anime/List">Cancel</a>
<h2>@Model.AnimeName</h2>
<div>Release Date: @Model.ReleaseDate.ToString("MMM dd, yyyy", new CultureInfo("en-US"))</div>
<div>Description: @Model.Description</div>
<form action="/Anime/Delete/@Model.AnimeID" method="POST">
    <input type="submit" value="Confirm Delete" />

</form>