@model Passion_Project.Models.AnimeDto

@{
    ViewBag.Title = "Edit Anime";
}

<h2>Edit Anime</h2>
<form action="/Anime/Update/@Model.AnimeID" method="POST" enctype="multipart/form-data">
    <div style="display:none;">
        <input name="AnimeID" type="text" value="@Model.AnimeID" />
    </div>
    <div>
        <label>Name:</label> <br />
        <input name="AnimeName" type="text" value="@Model.AnimeName" />
    </div>
    <div>
        <label>Release Date:</label> <br />
        <input name="ReleaseDate" type="date" value="@Model.FormattedDate" />
    </div>
    <div>
        <label>Description:</label> <br />
        <textarea name="Description">@Model.Description</textarea>
    </div>
    <br />
    <div class="col-md-6 col-sm-12">
        <input type="file" name="AnimePic" />
    </div>
    <br />
    <div>
        <input type="submit" value="Update Anime" />
    </div>
</form>
