@{
    ViewBag.Title = "Create Anime";
}

<h2>Create Anime</h2>
<form action="/Anime/Create" method="POST">
    <div>
        <label>Name:</label> <br />
        <input name="AnimeName" type="text" />
    </div>
    <div>
        <label>Release Date:</label> <br />
        <input name="ReleaseDate" type="date" />
    </div>
    <div>
        <label>Description:</label> <br />
        <textarea name="Description"></textarea>
    </div>
    <br />
    <div>
        <input type="submit" value="Create Anime" />
    </div>
</form>