@model Passion_Project.Models.GenreDto

@{
    ViewBag.Title = "Edit Genre";
}

<h2>Edit Genre</h2>
<form action="/Genre/Update/@Model.GenreID" method="POST">
    <div style="display:none;">
        <input name="GenreID" type="text" value="@Model.GenreID" />
    </div>
    <div>
        <label>Name:</label> <br />
        <input name="GenreName" type="text" value="@Model.GenreName" />
    </div>
    <br />
    <div>
        <input type="submit" value="Update Genre" />
    </div>
</form>
