@{
    ViewBag.Title = "Create Genre";
}

<h2>Create Genre</h2>
<form action="/Genre/Create" method="POST">
    <div>
        <label>Name:</label> <br />
        <input name="GenreName" type="text" />
    </div>
    <br />
    <div>
        <input type="submit" value="Create Genre" />
    </div>
</form>